<!-- Footer 수정할 경우 일반,교수,학생꺼 전부 수정~ -->
<footer id="footer" class="container">
    <div class="row 200%">
        <div class="12u">

            <!-- About -->
            <section>
                <h2 class="major">
                    <span>What's Codit Class?</span>
                </h2>
                <ul>
                
                <li><p>
                    컴퓨터공학을 배우는 학우들이 좀 더 실용적이고, 편리한 강의관리시스템을 이용할 수 있도록 개발한 웹 서비스입니다. <br>
                    코딧클래스에서 제공되는 웹 에디터 기능은 학업 중 실습, 과제제출에 용이하며 기본적인 강의 관리 서비스를
                    이용할 수 있습니다.
                </p>
                </li>
                <li>
                        <p> 15073 경기도 시흥시 산기대학로 237(정왕동) 한국산업기술대학교 ( <a href="http://www.kpu.ac.kr">KPU HOME</a> )</p>
                </li>
                </ul>
            </section>

        </div>
    </div>

  
    <!-- Copyright -->
    <div id="copyright">
        <ul class="menu">
            <li>COPYRIGHT 2018. KOREA POLYTECHNIC UNIVERSITY TEAM A CLASS</li>
            <li>niceiupkmk@kpu.ac.kr
            
            </li>
        </ul>
    </div>

</footer>
