<!--헤드내용-->

<title>CODIT CLASS 코딧클래스</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->

<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->


<!-- github 나눔바른고딕 css 가져옴 -->
<link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>

<!--icono css 가져오기-->
<link rel="stylesheet" href="/stylesheets/icono.min.css">

<!-- ionicons css가져오기 -->
<link rel="stylesheet" href="/stylesheets/ionocons.css">
<link rel="stylesheet" href="/stylesheets/ionicons.min.css">

<!--		<link rel="stylesheet" href="../../../public/stylesheets/icono.min.css">	-->
<link rel="stylesheet" href="http://icono-49d6.kxcdn.com/icono.min.css">

<!-- FontAwesome 링크걸어둠 -->
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

<!-- 부트스트랩, 썸머노트  css가져오기 -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> 
<link rel="stylesheet" href="/stylesheets/summernote.css"> 
<link rel="stylesheet" href="/stylesheets/summernote-bs4.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.css" /> 

<!-- 우리 프로젝트의 메인css다 -->
<link rel="stylesheet" href="/stylesheets/main_page1.css"/>