<!DOCTYPE HTML>
<!--st_community_page1.html 에서 main div 긁어오기-->
<html>

<head>
    <!--헤드내용 include -->
    <% include ../../partials/head.ejs %>
</head>

<body class="homepage">
	<div id="page-wrapper">

	    <!-- Header -->
		<% include ./header.ejs %>

		<!-- Nav include -->
		<% include ./nav.ejs %>


		<!-- Main -->
		<div id="main-wrapper">
			<div id="main" class="container">
				<div class="row">
					<div class="2u">
                    
                            <%- include ./blog_sidebar.ejs ,{subject_no:subject_no},{subject_list : subject_list} %>
					</div>

					<div class="10u 12u(mobile) important(mobile)">

						<!--
							
							section class= box feature 중간정렬
							section class= box features 왼쪽정렬
						 -->
						 <div class="content content-right">
                                <article class="box page-content">
                                        <header>
                                            <h2 style="font-size:2.5em;"><a href="#">성적</a></h2>
                                            <h2 class="major"></h2>
                                        </header>
        
                                        <div>
                                            <form method="POST">
                                                <table class="type06">
                                                    <style>
                                                        td{
                                                            text-align:center;
                                                        }
                                                    </style>
                                                    <colgroup>
                                                        <col width="16%">
                                                        <col width="16%">
                                                        <col width="16%">
                                                        <col width="16%">
                                                        <col width="16%">
                                                        <col width="16%">
                                                    </colgroup>
        
                                                    <thead scope="row" class="even">
                                                        <!--()안에 몇 %씩 인지 강의계획서에서 읽어오기-->
                                                        <th>출석(5%)</th>
                                                        <th>과제(15%)</th>
                                                        <th>퀴즈(10%)</th>
                                                        <th>중간고사(35%)</th>
                                                        <th>기말고사(35%)</th>
                                                        <th>최종점수(100%)</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <!--DB에서 점수 읽어오기-->
                                                            <td>5</td>
                                                            <td>4.75</td>
                                                            <td>8.25</td>
                                                            <td>14.0</td>
                                                            <td>8.0</td>
                                                            <td>40</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot scope="row" class="even">
                                                        <tr >
                                                            <th>최종학점</th>
                                                            <td colspan="5">
                                                                <p  style="margin-bottom: 0; font-weight:bold; font-size:1.3em; color:rgb(173, 10, 10);">B</p>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
        
                                                </table>
        
                                            </form>
                                        </div>
        
                                        <div style="margin-top:5%;">
                                            <h2 class="major" ></h2>
                                        </div>
        
                                        <p>성적분포도 그래프 출력</p>
        
                                    </article>
						 </div>			
					</div>

				</div>


			</div>
		</div>


	
	<!-- Footer include -->
	<% include ../../partials/footer.ejs %>

	</div>

	<!-- Scripts -->
	<% include ../../partials/scripts.ejs %>

</body>

</html>