<!DOCTYPE HTML>
<!--st_community_page1.html 에서 main div 긁어오기-->
<html>

<head>
		<% include ../../partials/head.ejs %>  
			
</head>

<body class="homepage">
	<div id="page-wrapper">

		<!-- Header -->
		<% include ./header.ejs %>
		<!-- Nav -->
		<% include ./nav.ejs %>


		<!-- Main -->
		<div id="main-wrapper">
			<div id="main" class="container">
				<div class="row">
					<div class="2u">
						<div class="sidebar" >
							<!--사이드바 입력-->
							<% include ./blog_sidebar.ejs %>
						</div>
						
					</div>

					<div class="10u 12u(mobile) important(mobile)">

						<!--
							
							section class= box feature 중간정렬
							section class= box features 왼쪽정렬
						 -->
						 <div class="content content-right">
							<article class="box page-content">
								<header>
									<h2 style="font-size:2.5em;"><a href="#">강의계획서</a></h2>
									<h2 class="major"></h2>
								</header>

								<div>
									<!-- table 내용 중 <td></td>사이에 물결 표시된부분 내용 처리해주세요 -->
									<table class="type06" style="margin:0; ">
										<colgroup>
											<col width="25%"/>
											<col width="25%"/>
											<col width="25%"/>
											<col width="25%"/>
										</colgroup>
										<tr>
											<th scope="row" class="even">교과목명</th>
											<td>~</td>
											<th scope="row" class="even">이수구분</th>
											<td>~</td>
										</tr>
										<tr>
											<th scope="row" class="even">교과코드</th>
											<td>~</td>
											<th scope="row" class="even">분반</th>
											<td>~</td>
										</tr>
										<tr>
											<th scope="row" class="even">학과</th>
											<td>~</td>
											<th scope="row" class="even">학년</th>
											<td>~</td>
										</tr>
										<tr>
											<th scope="row" class="even">교수</th>
											<td>~</td>
											<th scope="row" class="even">학점/강의</th>
											<td>~</td>
										</tr>
										<tr>
											<th scope="row" class="even">강의시간</th>
											<td>~</td>
											<th scope="row" class="even">E-mail</th>
											<td>~</td>
										</tr>
										<tr>
											<th scope="row" class="even">교과목개요 및 학습목표</th>
											<td colspan="3">~</td>
										</tr>
										<tr>
											<th scope="row" class="even">교재 및 참고문헌</th>
											<td colspan="3">~</td>
										</tr>
										<tr>
											<th scope="row" class="even">학습 평가방법</th>
											<td colspan="3">~</td>						
										</tr>
										<tr>
											<th scope="row" class="even">기타안내 및 유의사항</th>
											<td colspan="3">~</td>		
										</tr>
	
									</table>
								</div>
								
								<div style="margin:4% 0 4% 0;">
									<h2 class="major"></h2>
								</div>

								<div>
									<!-- table 내용 중 <td></td>사이에 물결 표시된부분 내용 처리해주세요 -->
									<table class="type06" style="margin:0; ">
											<colgroup>
												<col width="25%"/>
												<col width="25%"/>
												<col width="25%"/>
												<col width="25%"/>
											</colgroup>
									
											<tr>
												<th scope="row" class="even">주차</th>
												<th colspan="3" class="even">강의내용 및 범위</tb>
											</tr>
											<tr>
												<th scope="row">1주차</th>
												<td colspan="3">~</td>
											<tr>
												<th scope="row" class="even">2주차</th>
												<td colspan="3">~</td>											
											</tr>
											<tr>
												<th scope="row">3주차</th>
												<td colspan="3">~</td>
											<tr>
												<th scope="row" class="even">4주차</th>
												<td colspan="3">~</td>											
											</tr>
											<tr>
												<th scope="row">5주차</th>
												<td colspan="3">~</td>
											<tr>
												<th scope="row" class="even">6주차</th>
												<td colspan="3">~</td>											
											</tr>
											<tr>
												<th scope="row">7주차</th>
												<td colspan="3">~</td>
											<tr>
												<th scope="row" class="even">8주차</th>
												<td colspan="3">~</td>											
											</tr>
											<tr>
												<th scope="row">9주차</th>
												<td colspan="3">~</td>
											<tr>
												<th scope="row" class="even">10주차</th>
												<td colspan="3">~</td>											
											</tr>
											<tr>
												<th scope="row">11주차</th>
												<td colspan="3">~</td>
											<tr>
												<th scope="row" class="even">12주차</th>
												<td colspan="3">~</td>											
											</tr>
											<tr>
												<th scope="row">13주차</th>
												<td colspan="3">~</td>
											<tr>
												<th scope="row" class="even">14주차</th>
												<td colspan="3">~</td>											
											</tr>
											<tr>
												<th scope="row">15주차</th>
												<td colspan="3">~</td>
											<tr>
												<th scope="row" class="even">16주차</th>
												<td colspan="3">~</td>											
											</tr>
											
										</table>
								
								</div>
								
							</article>
						 </div>			
					</div>

				</div>


			</div>
		</div>


	
	<!-- Footer include  -->
	<% include ../../partials/footer.ejs %>


	</div>

    <!-- Scripts -->
	<% include ../../partials/scripts.ejs %>
	
</body>

</html>