<!DOCTYPE HTML>
<!--st_community_page1.html 에서 main div 긁어오기-->
<html>

<head>
    <!--헤드내용 include -->
    <% include ../../partials/head.ejs %>
</head>

<body class="homepage">
	<div id="page-wrapper">

	    <!-- Header -->
		<% include ./header.ejs %>

		<!-- Nav include -->
		<%- include ./nav.ejs ,{subject_no:subject_no},{subject_list : subject_list} %>


		<!-- Main -->
		<div id="main-wrapper">
			<div id="main" class="container">
				<div class="row">
					<div class="2u">
                    
                            <%- include ./blog_sidebar.ejs ,{subject_no:subject_no},{subject_list : subject_list} %>
					</div>

					<div class="10u 12u(mobile) important(mobile)">

						<!--
							
							section class= box feature 중간정렬
							section class= box features 왼쪽정렬
						 -->
						 <div class="content content-right">
                                <article class="box page-content">
                                        <header>
                                            <h2 style="font-size:2.5em;"><a href="#">과제 제출</a></h2>
                                               <!--목록으로 가게끔 연결하기-->
                                               <!--이전 페이지로 이동-->
                                               <a style="float:right; margin:2% 0; font-size:1em;" href="#" class="button">목록보기</a>
                                            
                                            <h2 class="major"></h2>
                                        </header>
                                        
                                        <div>
                          
                                                <form action="#" method="POST">
                                                    <div>
                                                        <table class="type06" style="margin:0;">
                                                            <colgroup>
                                                                <col width="25%"/>
                                                                <col width="75%"/>
                                                            </colgroup>
                                                                                                            
                                                            <tr>
                                                                <th scope="row" class="even">
                                                                    <label for="blog-in-title">과제제목</label>
                                                                </th>
                                                                <td>
                                                                    <!--이전 과제내용 상세페이지에서 교수가 저장했던 제목 읽어와주세요-->
                                                                    <p style="margin:0;">과제1</p>
                                                                </td>
                                                            </tr>
                                                            
                                                            <tr>
                                                                <td colspan="2" >
                                                                    썸머노트 들어갈 자리임
                                                                    <div>
                                                                    <!--여기에 썸머노트 붙이기-->
                                                                    </div>
            
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="even">
                                                                    <label for="blog-in-upload">첨부파일</label>
                                                                </th>
                                                                <td>
                                                                        <input type="file" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2" style="text-align:center; padding:0.5em 1.5em; margin:1%;">
                
                                                                    <input type="submit" value="올리기" />
                                                                    <input type="reset" value="취소"/>				
                                                                </td>
                                                            </tr>
                                                            
            
                                                        </table>
                                                    </div>
            
                                                </form>
                                            </div>
            
        
        
                                    
        
                                    </article>
						 </div>			
					</div>

				</div>


			</div>
		</div>


	
	<!-- Footer include -->
	<% include ../../partials/footer.ejs %>

	</div>

	<!-- Scripts -->
	<% include ../../partials/scripts.ejs %>

</body>

</html>