<!DOCTYPE html>
<html>

<head>
   <!--헤드내용 include -->
   <% include ../../partials/head.ejs %>  
</head>

<body class="homepage">
    <div id="page-wrapper">

       	<% include ./header.ejs %>
		<%- include ./nav.ejs ,{subject_no:subject_no},{subject_list : subject_list} %>

		<!-- Main -->
		<div id="main-wrapper">
			<div id="main" class="container">
				<div class="row">
					<div class="2u">
                    
						<%- include ./blog_sidebar.ejs ,{subject_no:subject_no},{subject_list : subject_list} %>
					</div>

					<div class="10u 12u(mobile) important(mobile)">
						<div class="content content-right">
							<article class="box page-content">
								<header>
									<h2 style="font-size:2.5em;"><a href="#">팀프로젝트 회의</a></h2>
                                    
                                    <a style="float:right; margin:2% 0; font-size:1em;" href="#" class="button">과제제출하기</a>
                                    <h2 class="major"></h2>
								</header>
								
								<form>
									<div >
										<div>
											<i class="fas fa-folder-open fa-2x">파일공유</i>
										
										</div>
										<div>
											<a href="#" class="fas fa-plus" style="float:right;margin-bottom:2%;">파일올리기</a>
											<table class="type06" style="margin-top:3%; margin-left:0;">
												<colgroup>
													<col width="12%">
													<col width="20%">
													<col width="45%">
													<col width="23%">
												</colgroup>
												<thead class="even">
													<th>이름</th>
													<th>작성일</th>
													<th>내용</th>
													<th>첨부파일</th>
												</thead>
												<tbody style="text-align:center;">
													<tr>
														<td>학생3</td>
														<td>2018-03-03 16:00</td>
														<td>피피티 초안이랑 회의록이요</td>
														<td><a href="#" class="fas fa-paperclip"></a></td>
													</tr>


													<!--위에서 파일공유하기 눌렀을때 뜨는 tr이고, 2개에요-->
													<tr>
														<td>이름(입력x,읽는거임)</td>
														<td>작성일(입력x,읽는거임)</td>
														<td><input type="text" style="width:100%;" /> </td>
														<td><input type="file" style="width:100%;"/></td>
													</tr>
													<tr>
														<td colspan="4"><input type="submit" value="저장" /></td>
													</tr>

											</tbody>

										
										</table>
										</div>
									</div>
							
									<h2 class="major" style="margin:3% 0;"></h2>
						
									<!--달린 댓글 보이는 테이블-->
									<div>
										<i class="fas fa-comments fa-2x">코멘트</i>
									<table class="type06" style="margin-left:0;">
										<colgroup>
										<col width="35%">
										<col widty="65%">
										</colgroup>
			
										<thead scope="row" class="even">
										<tr>
											<th colspan="2" style="text-align:left; padding-left:3%;" >등록된 코멘트 n개</th>
										</tr>
										</thead>
										<tbody>
										
										<tr>
											<th>
											학생1 (2017-03-31 11:40)
											</th>
											<td>
											여러분 제발 백업좀 킵해두고 올리삼..
			
											<a href="#edit" class="fas fa-pencil-alt" id="#" style="margin-left:5%;"></a>
											<a href="#delete" class="fas fa-times" id="#" style="margin-left:2%;"></a>
											
											</td>
										</tr>
										
										</tbody>
			
									</table>
									</div>
			
			
									<!--댓글다는 테이블-->
									<div>
										<table class="type06" style="margin-left:0;">
										<colgroup>
											<col width="85%">
											<col widty="15%">
										</colgroup>
										
										<tr>
											<td >
											<textarea id="reply_content" style="width:100%;"></textarea>
											</td>
											<td>
											<button id="reply_btn" style="width:100%; font-size:1em;">등록</button>
											</td>
										</tr>
			
										</table>
									</div>
			
								</form>
							</article>
						 </div>			
					</div>

				</div>


			</div>
		</div>


	
    <!-- Footer include  -->
	<% include ../../partials/footer.ejs %>

    </div>
    
    <!-- Scripts -->
	<% include ../../partials/scripts.ejs %>
</body>

</html>