<!DOCTYPE html>
<!--학생들이 제출한 코드를 돌려보고 점수를 줄 수 있는 페이지임-->
<html lang="en">

<head>
  <!--헤드내용 include -->

  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="http://code.jquery.com/jquery-latest.js"></script>

  <!-- 코드미러 드라큘라테마(잠정중단), 오토컴플릿 -->
  <!-- <link rel="stylesheet" href="/stylesheets/dracula.css"> -->
  <link rel="stylesheet" href="/stylesheets/codemirror.css">
  <link rel="stylesheet" href="/stylesheets/show-hint.css">

  <!-- 코드미러 오토컴플릿 -->
  <script src="/javascripts/codemirror.js"></script>
  <script src="/javascripts/show-hint.js"></script>
  <script src="/javascripts/matchbrackets.js"></script>

  <!-- Java, C, Python 데꼬오기 -->
  <script src="/javascripts/python.js"></script>
  <script src="/javascripts/clike.js"></script>

  <!-- TEXT highlight, Active-line-->
  <script src="/javascripts/annotatescrollbar.js"></script>
  <script src="/javascripts/matchesonscrollbar.js"></script>
  <script src="/javascripts/searchcursor.js"></script>
  <script src="/javascripts/match-highlighter.js"></script>
  <style type="text/css">
    .cm-matchhighlight {
      background-color: lightgreen
    }

    .CodeMirror-selection-highlight-scrollbar {
      background-color: green
    }
  </style>
  <script src="/javascripts/active-line.js"></script>

  <% include ../../partials/head.ejs %>

</head>

<body class="homepage">
  <div id="page-wrapper">

    <% include ./nav.ejs %>


      <!--main-->
      <div id="main-wrapper">
        <div id="main" class="container">



          <div class="row 200%">
            <div class="12u" style="width:100%;">
              <section class="box blog">
                <div>
                  <form>
                    <!-- 학생 :: 언어선택 / 저장버튼/ 제출버튼/ 다운로드버튼 / debug버튼 / run버튼 / 코드미러옵션선택(체크박스)-->
                    <!-- 교수 :: 언어선택 / 저장버튼/ 성적입력/ 다운로드버튼 / debug버튼 / run버튼 / 코드미러옵션선택(체크박스)-->
                    <div>
                      <table class="type06" style="text-align:left; border:none; margin-bottom:0;">
                        <colgroup>
                          <col width="1%">
                          <col width="10%">
                          <col width="1%">
                          <col width="1%">
                          <col width="87%">

                        </colgroup>
                        <tr>
                          <td colspan="4">
                            해당과제명 읽어오기 (ex:자료구조 계산기만들기)
                          </td>
                          <td>
                            <!--과제제출 버튼-->
                            <input type="submit" value="과제제출">
                            <!--                            <a href="#" class="fas fa-check-square fa-2x">submit</a>  -->
                          </td>

                        </tr>

                        <tr>
                          <td>
                            <!-- 코드미러 옵션 바꾸는 버튼임-->
                            <a href="#" class="fas fa-cog fa-2x"></a>
                          </td>
                          <td>
                            <!--언어선택할수 있는 옵션바-->
                            <select name="editor_lang" id="lang">
                              <!--value값은 디비 맞춰서 수정해주세요-->
                              <option value="c">C</option>
                              <option value="java">JAVA</option>
                              <option value="python">Python</option>
                            </select>
                          </td>

                          <td>
                            <!--임시저장 버튼-->
                            <a href="#" class="fas fa-save fa-2x"></a>
                          </td>

                          <td>
                            <!--코드 파일로 다운로드 버튼-->
                            <a href="#" class="fas fa-download fa-2x"></a>
                          </td>

                          <td style="text-align:right;">
                            <!--run버튼
                                           <a href="#" class="fas fa-play fa-2x"></a> -->
                            <input type="button" id="run" value="Run" />
                          </td>

                        </tr>
                      </table>
                    </div>
                    <h2 class="major" style="margin-bottom: 3%;"></h2>

                    <div class="row">

                      <div class="6u 12u(mobile)" style="float: left;">

                        <textarea id="content" rows="20"></textarea>
                      </div>

                      <div class="6u 12u(mobile)" style="float: right;">
                        <div style="margin-bottom:3%;">

                          <input type="radio" id="r1" name="inType" value="1">
                          <label id="r1t">학생매개변수없음</label>
                          </input>

                          <input type="radio" id="r2" name="inType" value="2">
                          <label id="r2t">파일입력</label>
                          </input>

                          <input type="radio" id="r3" name="inType" value="3">
                          <label id="r3t">Text입력</label>
                          <input type="text" placeholder="입력값 작성" id="textIn" />
                          </input>

                          <input type="file" id="fileIn" accept=".txt" />
                        </div>
                        <textarea id="result" rows="10" readonly></textarea>
                      </div>
                    </div>
                  </form>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
  </div>

  <script>
    // 텍스트하이라이트, 오토컴플릿, 단축키기능, 자동 줄맞춤 및 정렬
    // 디폴트설정은 C
    var editor = CodeMirror.fromTextArea(document.getElementById("content"), {
      lineNumbers: true, // 라인넘버ㄱ
      tabsize: 4, // 탭크기 6
      mode: "text/x-csrc", // 작성언어 C,C++,C#
      //theme: "dracula", // 테마는 드라큘라 추가기능으로 추가예정
      extraKeys: {
        "Ctrl-Space": "autocomplete" // 컨트롤+스페이스로 오토컴플릿 실행
      },
      indentUnit: 5, // 들여쓰기크기 5
      scrollbarStyle: "native", // 스크롤바 구현
      matchBrackets: true, // ????
      highlightSelectionMatches: {
        showToken: /\w/,
        annotateScrollbar: true
      },
      styleActiveLine: true
    });
    editor.setValue(`#include <stdio.h>\n\nvoid main(){\n\n\tprintf("Hello World!");\n\n}`);

    $('input[type=radio][name=inType]').on('change', function() {
      var radioValue = $(this).val();

      if (radioValue == "1") {
        $('#fileIn, #textIn').hide();
      } else if (radioValue == "2") {
        $('#textIn').hide();
        $('#fileIn').show();
      } else if (radioValue == "3") {
        $('#textIn').show();
        $('#fileIn').hide();
      }
    });
    $('#r1').attr('checked', true);
    $('#fileIn, #textIn').hide();

    $('#lang').on('change', function() {
      const lang = $(this).children("option:selected").val();
      switch (lang) {
        case 'c':
          editor.options.mode = "text/x-csrc"
          editor.setValue(`#include <stdio.h>\n\nvoid main(){\n\n\tprintf("Hello World!");\n\n}`);
          console.log(editor.options.mode);
          break;
        case 'java':
          editor.setOption('mode', 'text/x-java');
          editor.setValue(`class test {\n\n\tpublic static void main(String[] args) {\n\n\t\tSystem.out.println("Hello World!");\n\n\t}\n\n}`);
          console.log(editor.options.mode);
          break;
        case 'python':
          editor.setOption('mode', 'text/x-python');
          editor.setValue(`def function(str):\n\n\tprint(str)\n\nfunction('Hello World!')`);
          console.log(editor.options.mode);
          break;
      }
    });

    $('#run').click(function() {
      const target = document.getElementById("lang")
      const uri = "http://localhost:3000/editor/" + target.options[target.selectedIndex].value

      paramCheck(params => {
        $('#result').html('');
        $.ajax({
          url: uri,
          dataType: 'json',
          type: 'POST',
          data: {
            'content': editor.getValue(),
            'params': params
          },
          success: function(result) {
            if (result['result'] == true) {
              $('#result').html(result['content']);
            }
          }
        });
      })
    })

    function paramCheck(callback) {
      let params;
      var radioValue = $("input[name=inType]:checked").val();
      switch (radioValue) {
        case '1':
          params = false
          callback(params)
          break
        case '2':
          let uploadfile = document.getElementById("fileIn");
          if (uploadfile.files.length === 0) {
            alert('파일을 업로드 시켜주세요.')
            return;
          }
          textVal = textRead(uploadfile.files[0], result => {
            params = result;
            if (params === '') {
              alert('파일 내용을 작성 해주세요.')
              return;
            }
            callback(params);
          })
          break

        case '3':
          params = $("#textIn").val();
          if (params === '') {
            alert('입력값을 작성 해주세요.')
            return;
          }
          callback(params);
          break
      }
    }

    function textRead(file, callback) {
      var reader = new FileReader();
      reader.readAsText(file, "euc-kr");
      reader.onload = function() {
        callback(reader.result)
      };
    }
  </script>


  <!-- Footer include  -->
  <% include ../../partials/footer.ejs %>

    </div>

    <!-- Scripts -->
    <% include ../../partials/scripts.ejs %>
</body>

</html>
