<!DOCTYPE html>
<html>

<head>
   <!--헤드내용 include -->
   <% include ../../partials/head.ejs %>  
</head>

<body class="homepage">
    <div id="page-wrapper">

       	<% include ./header.ejs %>
		<% include ./nav.ejs %>

		<!-- Main -->
		<div id="main-wrapper">
			<div id="main" class="container">
				<div class="row">
					<div class="2u">
                    
                        <% include blog_sidebar.ejs %>
					</div>

					<div class="10u 12u(mobile) important(mobile)">

						<!--
							
							section class= box feature 중간정렬
							section class= box features 왼쪽정렬
						 -->
						 <div class="content content-right">
							<article class="box page-content">
								<header>
									<h2 style="font-size:2.5em;"><a href="#">강의계획서</a></h2>
									<h2 class="major"></h2>
								</header>

							</article>
						 </div>			
					</div>

				</div>


			</div>
		</div>


	
    <!-- Footer include  -->
	<% include ../../partials/footer.ejs %>

    </div>
    
    <!-- Scripts -->
	<% include ../../partials/scripts.ejs %>
</body>

</html>