<div class="sidebar" >
    <!--사이드바 입력-->
    <section class="box feature" >
        <h2 style="text-align:center;">· 마이페이지 ·</h2>
        <ul class="left-side">
            <li>
                <a href="#">개인정보</a>
            </li>
            <li>
                <a href="#">수강내역</a>
            </li>
          
            
        </ul>
    </section>

    
</div>
<div >
        <ul class="mobile-sidebar">
            <li>
                <a href="#">개인정보</a>
            </li>
            <li>
                <a href="#">수강내역</a>
            </li>
           
        </ul>
</div>