<!DOCTYPE HTML>
<!--st_community_page1.html 에서 main div 긁어오기-->
<html>

<head>
  <!--헤드내용 include -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <% include ../../../partials/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/summernote.css">
</head>

<body class="homepage">
  <div id="page-wrapper">

    <!-- Header -->
    <% include ./../header.ejs %>

      <!-- Nav include -->
      <% include ./../nav.ejs %>


        <!-- Main -->
        <div id="main-wrapper">
          <div id="main" class="container">
            <div class="row">
              <div class="2u">

                <% include ./../blog_sidebar.ejs %>
              </div>

              <div class="10u 12u(mobile) important(mobile)">

                <!--

							section class= box feature 중간정렬
							section class= box features 왼쪽정렬
						 -->
                <div class="content content-right">

                  <article class="box page-content">
                    <header>
                      <h2 style="font-size:2.5em;">
                        <a href="#">과제 등록하기</a></h2>
                      <h2 class="major"></h2>
                    </header>

                    <div>

                      <form action="/myclass/<%=subject_no%>/task" method="POST" enctype="multipart/form-data">
                        <div>
                          <table class="type06" style="margin:0;">
                            <colgroup>
                              <col width="25%" />
                              <col width="75%" />
                            </colgroup>

                            <tr>
                              <th scope="row" class="even">
                                <label for="hw-title">제목</label>
                              </th>
                              <td>
                                <input type="text" id="blog-in-title" name="title" />
                              </td>
                            </tr>

                            <tr>
                              <th scope="row" class="even">
                                <label for="hw-taskname">과제명</label>
                              </th>
                              <td>
                                <input type="text" id="blog-taskname" name="taskName" />
                              </td>
                            </tr>

                            <tr>
                              <th scope="row" class="even">
                                <label for="hw-type">제출방식</label>
                              </th>
                              <td>
                                <input type="radio" id="hw-how" name="how" value="온라인제출" checked="checked" />온라인
                                <input type="radio" name="how" value="강의실제출" />강의실제출
                              </td>
                            </tr>

                            <tr>
                              <th scope="row" class="even">
                                <label for="hw-dday">마감일</label>
                              </th>
                              <td>
                                <input type="date" name="yymmdd" id="hw-dday" />
                                <input type="time" name="hhmm" id="hw-ddaytime" value="23:59" />
                              </td>
                            </tr>

                            <tr>
                              <td colspan="2">
                                <textarea name="content" class="summernote" id="content" required rows="30" autofocus cols="130"></textarea>

                              </td>
                            </tr>

                            <tr>
                              <th scope="row" class="even">
                                <label for="blog-in-upload">첨부파일</label>
                              </th>
                              <td>
                                <input type="file" class="inputFile" id="uploadFile" name="uploadFile">
                                <!-- <input type="file" class="inputFile" id="uploadFile" name="uploadFile" multiple> -->

                              </td>
                            </tr>

                            <tr>
                              <td colspan="2" style="text-align:center; padding:0.5em 1.5em; margin:1%;">
                                <input type="button" id="subbtn" value="글작성">
                                <button class="button" onclick="location.href='javascript:history.back()'">뒤로가기</button>
                              </td>
                            </tr>

                          </table>
                        </div>
                      </form>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer include -->
        <% include ../../../partials/footer.ejs %>
  </div>
  <!-- Scripts -->
  <% include ../../../partials/scripts.ejs %>
    <!-- summernote 에딧창 추가 -->
    <script>
      $(document).ready(function() {
        $('.summernote').summernote({
          height: 300,
          tabsize: 2,
          focus: true
        });
        $('#subbtn').on('click', function() {

          const title = $('#blog-in-title').val()
          const hw_title = $('#blog-taskname').val()
          const hw_dday = $('#hw-dday').val()
          const content = $('textarea[name="content"]').val()
          // const file = document.getElementById("uploadFile").files.length

          if (title === '') {
            alert('제목을 입력하여 주십시오')
            return
          } else if (hw_title === '') {
            alert('과제명을 입력하여 주십시오')
            return
          } else if (hw_dday === '') {
            alert('마감일을 설정하여 주십시오')
            return
          } else if (content === '') {
            alert('내용을 입력하여 주십시오')
            return
          }
          // else if (file > 5) {
          //   alert('한번에 등록할 수 있는 파일의 수는 최대 5개까지입니다')
          //   return
          // }

          $('textarea[name="content"]').val($('.summernote').summernote('code'));
          $('form').submit();
        });
      });
    </script>
</body>

</html>
