<!DOCTYPE html>
<html>

<head>
  <!--헤드내용 include -->

  


  <% include ../../partials/head.ejs %>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> 
    <link rel="stylesheet" href="/stylesheets/summernote.css">  
  
  <% include ../../partials/scripts.ejs %>
    

</head>

<body class="homepage">
  <div id="page-wrapper">

    <% include ./header.ejs %>
      <% include ./nav.ejs %>

        <!--main-->
        <div id="main-wrapper">
          <div id="main" class="container">

            <div class="row 200%">
              <div class="12u">
                <div class="content content-left">
                  <article class="box post">
                    <header>
                      <h3>
                                        <a href="/community">#웰컴_코딧커뮤니티!!</a>
                                        <a onclick="location.href='/Community/insert'" style="float:right; margin:2% 0; font-weight:inherit; font-size:0.4em;" href="/community" class="button">목록보기</a>
                                    </h3>
                      <p>공부 중 궁금한게 생길 때, 스터디를 구하고 싶을 때, 강의후기가 궁금할 때 등 이유불문 무엇이든 산기인들에게 물어보세요 :)</p>

                      <h2 class="major"></h2>

                    </header>

                    <div>
                      <form action="/community/insert" method="post">
                        <table class="type06" style="margin:0;vertical-align:middle; text-align:center;">
                          <colgroup>
                            <col width="14%">
                            <col width="52%">
                            <col width="14%">
                            <col width="20%">
                          </colgroup>

                          <tr>
                            <th scope="row" class="even">제목</th>
                            <td> <input type="text" class="form-input" name="title"></td>
                            <th scope="row" class="even"><label>게시판 </label></th>
                            <td>
                              <select name="board_department">
                                                    <option value="999">전체학과</option>
                                                    <option value="1">기계공학과</option>
                                                    <option value="2">기계설계공학과</option>
                                                    <option value="3">메카트로닉스공학과</option>
                                                    <option value="4">전자공학부</option>
                                                    <option value="5">컴퓨터공학부</option>
                                                    <option value="6">게임공학부</option>
                                                    <option value="7">신소재공학과</option>
                                                    <option value="8">생명화학공학과</option>
                                                    <option value="9">디자인학부</option>
                                                    <option value="10">경영학부</option>
                                                    <option value="11">나노광공학과</option>
                                                    <option value="12">에너지전기공학과</option>
                                                </select>
                            </td>

                          </tr>
                          <tr>
                            <td colspan="4">
                              <!-- summernote class 및 id 추가 -->
                              <textarea name="content" class="summernote" id="content" required rows="30" autofocus cols="130"></textarea>
                              <!-- <div ></div> -->
                            </td>
                          </tr>
                          <tr>
                            <td colspan="4">
                              <input type="button" id="subbtn" value="글작성">
                              <button class="button" onclick="location.href='javascript:history.back()'">뒤로가기</button>
                            </td>
                          </tr>

                        </table>
                      </form>

                    </div>

                    <div style="margin-top:5%;">
                      <h2 class="major"></h2>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer include  -->
        <% include ../../partials/footer.ejs %>

  </div>

  <!-- summernote 에딧창 추가 -->
  <script>
    $(document).ready(function() {
      $('.summernote').summernote({
        height: 300,
        tabsize: 2,
        focus: true
      });
      $('#subbtn').on('click', function() {
        $('textarea[name="content"]').val($('.summernote').summernote('code'));
        $('form').submit();
      });
    });
  </script>
</body>

</html>
