<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form method="post" action="/community/edit/<%= data.board_no %>">
        <table>
            <label>게시판 </label>
            <!-- TODO : SELECT값 data.board_department 로 지정하기 -->
            <select name="board_department" >
                <option value="999">전체학과</option>
                <option value="1">기계공학과</option>
                <option value="2">기계설계공학과</option>
                <option value="3">메카트로닉스공학과</option>
                <option value="4">전자공학부</option>
                <option value="5">컴퓨터공학부</option>
                <option value="6">게임공학부</option>
                <option value="7">신소재공학과</option>
                <option value="8">생명화학공학과</option>
                <option value="9">디자인학부</option>
                <option value="10">경영학부</option>
                <option value="11">나노광공학과</option>
                <option value="12">에너지전기공학과</option>
            </select>
            <br>
            <label>제목 </label>
            <input type="text" name="title" placeholder="제목을 입력하세요" 
                value="<%= data.board_title %>" maxlength="255" required >
            <br>
            <br>
            <textarea name="content" placeholder="내용을 입력하세요."
                required rows=30 autofocus cols="130"><%= data.board_content %></textarea>
        </table>
        <hr align="left" width="70%">
        <button onclick="location.href='javascript:history.back()'">뒤로가기</button>
        <input type="submit" value="수정"/>
    </form>
</body>

</html>