<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <button onclick="location.href='/'">Codit Class</button>
    <button onclick="location.href='/Editor'">Editor</button>
    <button onclick="location.href='/Community'">Community</button>
    <button onclick="location.href='/User'">MyInfo</button>
    <button onclick="location.href='/Logout'">Logout</button>
    
    <br><br><br>

    <form method="post" action="/editor/">
    <textarea name="area_edit" placeholder="내용을 입력하세요. " required rows=30 autofocus cols="100"></textarea>
    <textarea name="area_result" placeholder="결과창 " required rows=30 autofocus cols="100"></textarea>
    <br>
    <input type="submit" value="debug" />
    </form>
</body>
</html>