<!DOCTYPE HTML>
<!--st_community_page1.html 에서 main div 긁어오기-->
<html>

<head>
	<!--헤드내용 include -->
	<% include ../../partials/head.ejs %>
</head>

<body class="homepage">
	<div id="page-wrapper">
		
		<!-- Header -->
		<!-- 헤더에서 로고 연결되는 주소 맞게 됐는지 확인하기 -->
		<% include ./header.ejs %>

		<!-- Nav include -->
		<% include ./nav.ejs %>



		<!-- Main -->
		<div id="main-wrapper">
			<div id="main" class="container">
				<div class="row">
					<div class="3u">
						
					</div>

					<div class="6u 12u(mobile) important(mobile)" style="height:25em;">

						<!--
							section class= box feature 중간정렬
							section class= box features 왼쪽정렬
						 -->

						<section class="box feature">
							<h2 class="major"><span>Log-in</span></h2>
						
							<div>
								<!--action=데이터를 보낼url/ method는 http방식(get or post)-->
								<form method="post" action="/login">
									<div>
										<label for="id">ID</label>
										<input type="text" name="id" maxlength="20" required/>

									</div>
									<div>
										<label for="pw">Password</label>
										<input type="password" name="password" maxlength="20" required/>
									</div>
									<div style="margin:10px;">
										<button type="submit">Login!</button>
									</div>

								</form>
							</div>

									
						</section>

					</div>

					<div class="3u">
						
					</div>
	
				</div>


			</div>
		</div>


	<!-- Footer include -->
	<% include ../../partials/footer.ejs %>

	</div>

	<!-- Scripts -->
	<% include ../../partials/scripts.ejs %>
</body>

</html>