<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Codit class</title>
</head>

<body>


    <button onclick="location.href='/'">Codit Class</button>
    <button onclick="location.href='/Editor'">Editor</button>
    <button onclick="location.href='/Community'">Community</button>
    <button onclick="location.href='/User'">MyInfo</button>
    <button onclick="location.href='/Logout'">Logout</button>

    <h2>Welcome to MyInfo </h2>

    <table>
        <tr>
            <td>
                <label>이름 </label>
                <%=name%>
            </td>
        </tr>
        <tr>
            <td>
                <label>핸드폰 <%=phone%></label>
                
            </td>
        </tr>
        <tr>
            <td>
                <label>이메일 <%=email%></label>
            </td>
        </tr>
    </table>

</body>

<!-- Scripts -->
<% include ../../partials/scripts.ejs %>

</html>