	<!-- Nav 수정할 경우, common/professor/student의 nav도 모두 수정 -->
    <nav id="nav">

        <ul>
            <li class="current">
                <a href="/">Codit class</a>
            </li>
            <li>
                <a href="/editor">Editor</a>
            </li>
            <li>
                <a href="/myclass">My class</a>
            </li>
            <li>
                <a href="/community">Community</a>
            </li>
            <li>
                <a href="/myinfo">Myinfo</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
        </ul>
</nav>