<!DOCTYPE HTML>
<!--st_community_page1.html 에서 main div 긁어오기-->
<html>

<head>
  <!--헤드내용 include -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <% include ../../../partials/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/summernote.css">
    <% include ../../../partials/scripts.ejs %>
</head>

<body class="homepage">
  <div id="page-wrapper">

    <!-- Header -->
    <% include ./../header.ejs %>

      <!-- Nav include -->
      <% include ./../nav.ejs %>


        <!-- Main -->
        <div id="main-wrapper">
          <div id="main" class="container">
            <div class="row">
              <div class="2u">

                <% include ./../blog_sidebar.ejs %>
              </div>

              <div class="10u 12u(mobile) important(mobile)">

                <!--

							section class= box feature 중간정렬
							section class= box features 왼쪽정렬
						 -->
                <div class="content content-right">
                  <article class="box page-content">
                    <header>
                      <h2 style="font-size:2.5em;">
                        <a href="#">강의자료</a>
                      </h2>
                      <h2 class="major"></h2>
                    </header>

                    <div>


                      <table class="type06" style="margin:0;">
                        <colgroup>
                          <col width="25%" />
                          <col width="75%" />
                        </colgroup>

                        <tr>
                          <th scope="row" class="even">
                            <label for="blog-in-title">제목</label>
                          </th>
                          <td>
                            <p style="margin:0;">
                              <%= board.blog_title %>
                            </p>
                          </td>
                        </tr>

                        <tr>
                          <th scope="row" class="even">
                            <label for="blog-in-date">작성자</label>
                          </th>
                          <td>
                            <p style="margin:0;">
                              <%= board.blog_writer %>
                            </p>

                          </td>
                        </tr>

                        <tr>
                          <th scope="row" class="even">
                            <label for="blog-in-date">등록일</label>
                          </th>
                          <td>
                            <p style="margin:0;">
                              <%= board.created_at %>
                            </p>

                          </td>
                        </tr>

                        <!--여기 아래 부분은 교수가 설정안함을 선택했으면 안보이고, 기간을 설정했으면 보여줌-->
                        <tr>
                          <th scope="row" class="even">
                            <label for="blog-in-date">공개기간</label>
                          </th>
                          <td>
                            <p style="margin:0;">
                              yyyy-mm-dd 오전/오후 xx:xx까지 공개
                            </p>
                          </td>
                        </tr>

                        <tr>
                          <td colspan="4" style="padding:40px 20px;">
                            <textarea class="summernote">
                              <%= board.blog_content %>
                            </textarea>
                          </td>
                        </tr>

                        <tr>
                          <th scope="row" class="even">
                            <!--첨부파일 갯수 저장해서 n개 표시-->
                            <label for="blog-in-upload">첨부파일(n개)</label>
                          </th>
                          <td>
                            <a href="#"></a>
                          </td>
                        </tr>

                      </table>


                    </div>
                    <div style="margin-top:5%;">
                      <h2 class="major"></h2>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>



        <!-- Footer include -->
        <% include ../../../partials/footer.ejs %>

  </div>

  <!-- Scripts -->
  <% include ../../../partials/scripts.ejs %>

    <script>
      $(document).ready(function() {
        $('.summernote').summernote({
          height: 300,
          tabsize: 2,
          focus: true,
          airMode: true,
          disableDragAndDrop: true,
          popover: {
            air: []
          }
        });
        $('.summernote').summernote('disable');
      });
    </script>
</body>

</html>
