<!DOCTYPE html>
<html>

<head>
   <!--헤드내용 include -->
   <% include ../../partials/head.ejs %>  
</head>

<body class="homepage">
    <div id="page-wrapper">

       	<% include ./header.ejs %>
		<%- include ./nav.ejs ,{subject_no:subject_no},{subject_list : subject_list} %>

		<!-- Main -->
		<div id="main-wrapper">
			<div id="main" class="container">
				<div class="row">
					<div class="2u">
                    
						<%- include ./blog_sidebar.ejs ,{subject_no:subject_no},{subject_list : subject_list} %>
					</div>

					<div class="10u 12u(mobile) important(mobile)">
						<div class="content content-right">
							<article class="box page-content">
								<header>
									<h2 style="font-size:2.5em;"><a href="#">팀프로젝트 세부내용</a></h2>
									<a style="float:right; margin:2% 0; font-size:1em;" href="#" class="button">수정하기</a>
									
									<h2 class="major"></h2>
								</header>
								
								<form>
										<div>
										<table class="type06" style="margin:0;">
											<colgroup>
												<col width="25%"/>
												<col width="75%"/>
											</colgroup>
																							
											<tr>
												<th scope="row" class="even">
													<label for="blog-in-title">제목</label>
												</th>
												<td>
													<p style="margin:0;"> 게시글 제목 읽어와주세요 </p>
												</td>
											</tr>
											<tr>
												<th scope="row" class="even">
													<label for="blog-in-submit">제출방식</label>
												</th>
												<td>
													<p style="margin:0;">온라인 또는 강의실제출 </p>
												</td>
											</tr>
	
											<tr>
												<th scope="row" class="even">
													<label for="blog-in-loadday">게시일</label>
												</th>
												<td>
													<p style="margin:0;">yyyy-mm-dd 오전/오후 xx:xx까지 공개</p>
													
												</td>
											</tr>
										  
											<!--여기 아래 부분은 교수가 설정안함을 선택했으면 안보이고, 기간을 설정했으면 보여줌-->
											<tr>
												<th scope="row" class="even">
													<label for="blog-in-dday">마감일</label>
												</th>
												<td>
													<p style="margin:0;">yyyy-mm-dd 오전/오후 xx:xx까지 공개</p>
													
												</td>
											</tr>
											<tr>
												<th scope="row" class="even">
													<label for="blog-in-submit">지각제출</label>
												</th>
												<td>
													<p style="margin:0;">불허 </p>
												</td>
											</tr>
	
											<tr>
												<th scope="row" class="even">
													<label for="blog-in-team">팀원 선정방식</label>
												</th>
												<td>
													<!--교수가 지정한 방식대로읽어오고-->
													<p style="margin:0;">학생자율 (3명)</p>
													<!--만약 교수지정방식이었다면 같은팀원들 이름만 뜨게-->
													<p style="margin:0;">교수지정 (3명)</p>
													<p style="margin:0;">총 n개 팀</p>
													<button style="font-size:1em;">상세보기</button>
												</td>
											</tr>
	
											<tr>
												<td colspan="2" >
													
													<p style="height:20px; padding:8px;" >
													<!--썸머노트에 저장되었던 내용-->
													썸머노트에 저장되었던 내용 가져오기
													</p>
												</td>
											</tr>
											<tr>
												<th scope="row" class="even">
													<!--첨부파일 갯수 저장해서 n개 표시-->
													<label for="blog-in-upload">첨부파일(n개)</label>
												</th>
												<td>
													<a href="#" >클릭하면 첨부파일 다운로드가능 하게 만들기</a>
												</td>
											</tr>
											
										</table>
										</div>
	
										<div style="margin-top:5%;">
											<h2 class="major" ></h2>
										</div>
	
										<a style="float:right; margin:2% 0; font-size:1em;" href="#" class="button">팀원 수정하기</a>
								
										<table class="type06" style="margin:0; vertical-align:middle; text-align:center;">
										<colgroup>
											<col width="16%"/>
											<col width="16%"/>
											<col width="16%"/>
											<col width="16%"/>
											<col width="16%"/>
											<col width="16%"/>
										</colgroup>
										<style>
											th,td {
												padding-top: 2px;
												padding-bottom: 2px;
											}
										</style>
										
										<thead scope="row" class="even">
											<tr>
												<th>팀번호</th>
												<th>학번</th>
												<th>이름</th>
												<th>제출유무</th>
												<th>상태</th>
												<th>평가점수</th>
											</tr>
										</thead>
										<tbody style="vertical-align:middle;">
	
											<!--아래tr3개는 뷰만들려고 해둔거니깐 지우고 하면되요-->
											<tr>	
												<td>
													1
												</td>
												<td>
													2012111111
												</td>
												<td>
													학생1
												</td>
	
												<td>
													<p style="margin:0;">X</p>
													<!-- 학생의 과제 제출 유무에 따라서 X 또는 O 표시 -->
												</td>
	
												<td>
													<p style="margin:0;">미제출</p>
													<!-- 제출전/제출/평가완료 -->
												</td>
	
												<td>
													<p style="margin:0;"> - </p>
													<!-- 입력한 점수(누르면 코드에디터로 이동) 또는 미제출시 (-)표시 -->
												</td>
	
											</tr>
	
											<tr>
												<td>
													1
												</td>	
												<td>
													2013222222
												</td>
												<td>
													학생2
												</td>
	
												<td>
													<p style="margin:0;">O</p>
													<!-- 학생의 과제 제출 유무에 따라서 X 또는 O 표시 -->
												</td>
	
												<td>
													<a href="#">지각제출</a>
													<!-- 미제출/지각제출/정상제출/평가완료 네가지 상태로 표시 -->
												</td>
	
												<td>
													<a href="#">45</a>
													<!-- 입력한 점수&수정하기아이콘 또는 미제출시 (-)표시 -->
												</td>
	
											</tr>
	
										</tbody>
										
										</table>
										<div style="float:right; margin-top:20px;">
											<a style=" margin:2% 0; font-size:1em;" href="#" class="button">성적입력 및 강의종료</a>
										</div>
									
									</form>
							</article>
						 </div>			
					</div>

				</div>


			</div>
		</div>


	
    <!-- Footer include  -->
	<% include ../../partials/footer.ejs %>

    </div>
    
    <!-- Scripts -->
	<% include ../../partials/scripts.ejs %>
</body>

</html>