<!DOCTYPE HTML>
<!--st_community_page1.html 에서 main div 긁어오기-->
<html>

<head>
    <!--헤드내용 include -->
    <% include ../../partials/head.ejs %>
</head>

<body class="homepage">
	<div id="page-wrapper">

	    <!-- Header -->
		<% include ./header.ejs %>

		<!-- Nav include -->
		<% include ./nav.ejs %>


		<!-- Main -->
		<div id="main-wrapper">
			<div id="main" class="container">
				<div class="row">
					<div class="2u">
                    
                        <% include ./sidebar.ejs %>
					</div>

					<div class="10u 12u(mobile) important(mobile)">

						<!--
							
							section class= box feature 중간정렬
							section class= box features 왼쪽정렬
						 -->
						 <div class="content content-right">
                                <article class="box page-content">
                                        <header>
                                            <!--해당과목 이름을 불러와서 띄워주면 좋겠음-->
                                            <h2 style="font-size:2.5em;"><a href="#">강의별 전체 학생 성적</a></h2>
                                            <h2 class="major"></h2>
                                        </header>
        
                                        <form>
                                        <div>
                                            <table class="type06" style="text-align:center;" >
                                                    <tr scope="row" class="even" >
                                                            <td>
                                                                    <select id="category" style="width:60px; display:inline-block;">
                                                                        <option selected="selected">이름</option>
                                                                        <option>학번</option>
                                                                        <option>학점</option>
                                                                    </select>
                                                                    <input type="search" id="search"/>
                                                                    <!--검색버튼 눌렀을때 목록중에서 쏘팅해주는거 코드짜야함-->
                                                                    <input type="submit" value="검색" style="padding:0.4em 1.5em; font-weight:initial; font-size:1em;" />
                
                                                                    <!--안되면 table바로 밖으로 form태그 추가-->
                                                            </td>
                                                            <td>
                                                                정렬기준
                                                                    <select id="order" style="width:60px; display:inline-block;">
                                                                            <option selected="selected">학번순</option>
                                                                            <option>이름순</option>
                                                                            <option>학점순</option>
                                                                        </select>
                                                            </td>
                                                            
                                                        </tr>
                                            </table>
                                        </div>
        
                                        <div>
                                            
                                            <table class="type06" style="text-align:center; vertical-align:middle;">
                                                <colgroup>
                                                    <col item-width="10%">
                                                </colgroup>
                                                
                                                <thead scope="row" class="even">
                                                    <tr>
                                                        <th>학번</th>
                                                        <th>이름</th>
                                                        <th>출석</th>
                                                        <th>과제</th>
                                                        <th>퀴즈</th>
                                                        <th>중간</th>
                                                        <th>기말</th>
                                                        <th>합계</th>
                                                        <th>학점</th>
                                                        <th>더보기</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>2012150002</td>
                                                        <td>김미경</td>
                                                        <td>5</td>
                                                        <td>10</td>
                                                        <td>10</td>
                                                        <td>43</td>
                                                        <td>54</td>
                                                        <td>76</td>
                                                        <td>B+</td>
                                                        <td><!--누르면 학생 개개인별 성적 확인 및 수정가능페이지로 이동 -->
                                                            <a href="#" class="icono-plusCircle"></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
        
                                            </table>
                                        </div>
                                        </form>
                                    </article>
						 </div>			
					</div>

				</div>


			</div>
		</div>


	
	<!-- Footer include -->
	<% include ../../partials/footer.ejs %>

	</div>

	<!-- Scripts -->
	<% include ../../partials/scripts.ejs %>

</body>

</html>