<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <% include ../../partials/head.ejs %>


    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='http://code.jquery.com/jquery-latest.js'></script>

</head>

<body>
    <% include ./nav.ejs %>
    <% include ./nav.ejs %>

    <div>
        <textarea id="content" cols="130" rows="20"></textarea>
        <textarea id="result" cols="40" rows="20" readonly></textarea>
    </div>
    <div>
        <tr>
            <select name="editor_lang" id="lang" >
                <option value="java">JAVA</option>
                <option value="c">C</option>
                <option value="python">Python</option>
            </select>
            <input type="button" id="run" value="Run" />
        </tr>
    </div>

    <script>
         $('#run').click(function () {
            const target = document.getElementById("lang")
            const uri = "http://localhost:3000/editor/"+target.options[target.selectedIndex].value
            $('#result').html('');
            $.ajax({
                url: uri,
                dataType: 'json',
                type: 'POST',
                data: { 'content': $('#content').val() },
                success: function (result) {
                     if (result['result'] == true) {
                         $('#result').html(result['content']);
                     }
                }
            });

        })
    </script>

	<% include ../../partials/footer.ejs %>

	<% include ../../partials/scripts.ejs %>

</body>

</html>