<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head.ejs %>


    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <!-- 코드미러 드라큘라테마 오토컴플릿 -->
    <link rel="stylesheet" href="/stylesheets/dracula.css">
    <link rel="stylesheet" href="/stylesheets/codemirror.css">
    <link rel="stylesheet" href="/stylesheets/show-hint.css">
    <!-- 코드미러 오토컴플릿 -->
    <script src="/javascripts/codemirror.js"></script>
    <script src="/javascripts/show-hint.js"></script>
    <script src="/javascripts/matchbrackets.js"></script>
    <!-- <script src="/javascripts/anyword-hint.js"></script> -->
    
    <!-- Java, C, Python 데꼬오기 -->
    <!-- <script src="/javascripts/javascript.js"></script>
    <script src="/javascripts/python.js"></script> -->
    <script src="/javascripts/clike.js"></script>
</head>

<body>
  <% include ./nav.ejs %>

    <div>
      <textarea id="content" cols="130" rows="20"></textarea>
      <textarea id="result" cols="40" rows="20" readonly></textarea>
    </div>
    <div>
      <tr>
        <select name="editor_lang" id="lang">
              <option value="c">C</option>
                <option value="java">JAVA</option>
                <option value="python">Python</option>
            </select>
        <input type="button" id="run" value="Run" />
      </tr>
    </div>

    <script>
      // 텍스트하이라이트, 오토컴플릿, 단축키기능, 자동 줄맞춤 및 정렬
      var editor = CodeMirror.fromTextArea(document.getElementById("content"), {
        lineNumbers: true, // 라인넘버ㄱ
        tabsize: 6, // 탭크기 6
        mode: "text/x-csrc", // 작성언어 C,C++,C#
        theme: "dracula", // 테마는 드라큘라 추가기능으로 추가예정
        extraKeys: {
          "Ctrl-Space": "autocomplete" // 컨트롤+스페이스로 오토컴플릿 실행
        },
        indentUnit: 5, // 들여쓰기크기 5
        scrollbarStyle: "native", // 스크롤바 구현
        matchBrackets: true // ????
      });
      editor.setValue(`#include <stdio.h>\n\nvoid main(){\n\n\tprintf("Hello World!");\n\n}`);
      // editor.value="asdasdsasad"
      // editor.setSize(100, 100);
      // Refresh code mirror element when tab header is clicked.
      // $("#xxx").click(function() {
      //   setTimeout(function() {
      //     editor.refresh();
      //   }, 10);
      // });

      $('#run').click(function() {
        const target = document.getElementById("lang")
        const uri = "http://localhost:3000/editor/" + target.options[target.selectedIndex].value
        $('#result').html('');
        $.ajax({
          url: uri,
          dataType: 'json',
          type: 'POST',
          data: {
            'content': editor.getValue()
          },
          success: function(result) {
            if (result['result'] == true) {
              $('#result').html(result['content']);
            }
          }
        });

      })
    </script>

    <% include ../../partials/footer.ejs %>

      <% include ../../partials/scripts.ejs %>

</body>

</html>
