    <!-- Header 수정하면 일반,교수,학생 모두 수정할것 -->

    <!-- 각각 logo눌렀을때 들어가는 페이지 다름 !!!!  -->

    <header id="header">
        <div class="logo container">
            <div>
                <h3 style="color:white;">
                    <!-- 종화꺼랑 합치면 페이지 주소 바꾸기 -->
                    <a href="/" id="logo">CODIT CLASS</a>
                </h3>
                <p>한국산업기술대학교 강의보조시스템</p>
            </div>
        </div>
    </header>